.blog-wrapper {
  padding: 40px 20px 48px;
}

@media screen and (min-width: 1024px) {
  .blog-wrapper {
    display: flex;
    column-gap: 36px;
    padding: 60px 0 68px;
    margin: auto;
    max-width: 895px;
  }
}

@media screen and (min-width: 1024px) {
  .primary {
    max-width: 590px;
  }

  .sidebar {
    max-width: 269px;
  }
}

.article-news {
  padding: 40px 0 30px;
}

@media screen and (min-width: 1024px) {
  .article-news {
    padding: 60px 0 53px;
  }
}

.article__head {
  margin-bottom: 40px;
}

@media screen and (min-width: 1024px) {
  .article__head {
    margin-bottom: 60px;
  }
}

.article__category {
  display: inline-block;
  padding: 9px 25px;
  line-height: calc(20 / 12);
  font-size: 12px;
  color: #fff;
  background-color: #1b224c;
}

.article__share {
  display: flex;
  column-gap: 4px;
  overflow: hidden;
}

.twitter-btn {
  display: inline-block;
  width: 69px;
  height: 20px;
  line-height: 20px;
  border-radius: 3px;
  text-align: center;
  background-color: #00acee;
}

.twitter-btn-text {
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  vertical-align: bottom;
  color: #fff;
}

.twitter-svg {
  vertical-align: baseline;
}

.twitter-icon {
  fill: #fff;
}

.article__info {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 10px;
}

@media screen and (min-width: 1024px) {
  .article__info {
    flex-direction: row;
    justify-content: space-between;
    row-gap: 0;
  }
}

.article__title {
  line-height: calc(33 / 22);
  font-size: 22px;
  font-weight: bold;
  word-break: break-all;
}

@media screen and (min-width: 1024px) {
  .article__title {
    line-height: calc(48 / 28);
    font-size: 28px;
  }
}

.article__title--news {
  margin-bottom: 24px;
}

@media screen and (min-width: 1024px) {
  .article__title--news {
    margin-bottom: 36px;
  }
}

.article__title--blog {
  margin: 30px 0 20px;
}

.article__info {
  margin-bottom: 18px;
}

.article__date {
  display: block;
  line-height: 1;
}

.article__date--right {
  text-align: right;
}

.article__body h1 {
  margin-top: 30px;
  line-height: calc(36 / 24);
  font-size: 24px;
  font-weight: bold;
  word-break: break-all;
}

@media screen and (min-width: 1024px) {
  .article__body h1 {
    margin-top: 40px;
    line-height: calc(48 / 28);
    font-size: 28px;
  }
}

.article__body h2 {
  margin-top: 30px;
  line-height: calc(33 / 22);
  font-size: 22px;
  font-weight: bold;
  word-break: break-all;
}

@media screen and (min-width: 1024px) {
  .article__body h2 {
    margin-top: 40px;
    line-height: calc(39 / 26);
    font-size: 26px;
  }
}

.article__body h3 {
  margin-top: 30px;
  padding-left: 6px;
  line-height: calc(27 / 18);
  font-size: 18px;
  font-weight: bold;
  border-left: 4px solid #1b224c;
  word-break: break-all;
}

@media screen and (min-width: 1024px) {
  .article__body h3 {
    margin-top: 40px;
    padding-left: 12px;
    line-height: calc(33 / 22);
    font-size: 22px;
  }
}

.article__body p {
  margin-top: 20px;
  line-height: calc(24 / 16);
}

@media screen and (min-width: 1024px) {
  .article__body p {
    margin-top: 30px;
  }
}

.wp-block-quote {
  margin-top: 20px;
  padding: 14px 13px 14px;
  background-color: #f8f8f8;
}

@media screen and (min-width: 1024px) {
  .wp-block-quote {
    margin-top: 30px;
    padding: 27px 26px 27px 26px;
  }
}

.wp-block-quote p {
  position: relative;
  margin-top: 0;
  padding-left: 32px;
}

@media screen and (min-width: 1024px) {
  .wp-block-quote p {
    padding-left: 52px;
  }
}

.wp-block-quote p::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 16px;
  background: url("../../../img/news/quote-icon.png") no-repeat center / contain;
}

@media screen and (min-width: 1024px) {
  .wp-block-quote p::before {
    width: 32px;
    height: 22px;
  }
}

.article-news .wp-block-image,
.article-blog .wp-block-image {
  margin: 20px 0 0 0;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .article-news .wp-block-image {
    margin: 30px 0 0 0;
    width: 400px;
  }

  .article-blog .wp-block-image {
    margin: 30px 0 0 0;
    padding: 0 4px;
  }
}

.article__body ul {
  margin-top: 24px;
}

@media screen and (min-width: 1024px) {
  .article__body ul {
    margin-top: 36px;
  }
}

.article__body li {
  position: relative;
  padding-left: 24px;
}

.article__body li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 9999px;
  background-color: #f5a623;
}

.article__body li:last-child::before {
  content: "";
  position: absolute;
  top: 25%;
  left: 0;
  transform: translateY(-50%);
}

@media screen and (min-width: 1024px) {
  .article__body li {
    padding-left: 30px;
  }
}

.article__body a {
  color: #f5a623;
  text-decoration: underline;
}

@media screen and (min-width: 1024px) {
  .article__body a {
    transition: opacity 0.5s, text-decoration 0.5s;
  }

  .article__body a:hover {
    opacity: 0.6;
    text-decoration: none;
  }
}

.article-recommend {
  margin-top: 60px;
}

.article-recommend__title {
  line-height: calc(33 / 22);
  font-size: 22px;
  font-weight: bold;
  word-break: break-all;
}

@media screen and (min-width: 1024px) {
  .article-recommend__title {
    line-height: calc(39 / 26);
    font-size: 26px;
  }
}

.article-recommend__list {
  margin-top: 30px;
}

.article-recommend__item:not(:first-child) {
  margin-top: 28px;
}

.article-recommend__inner {
  display: flex;
  column-gap: 18px;
}

@media screen and (min-width: 1024px) {
  .article-recommend__inner {
    display: flex;
    column-gap: 32px;
  }
}

.article-recommend__thumb {
  position: relative;
  flex: 0 0 140px;
  height: 102px;
}

@media screen and (min-width: 1024px) {
  .article-recommend__thumb {
    flex: 0 0 210px;
    height: 128px;
  }
}

.article-recommend__label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 13px;
  line-height: 1;
  font-size: 12px;
  color: #fff;
  background-color: #1b224c;
}

.article-recommend__img {
  height: 100%;
  object-fit: cover;
}

.article-recommend__meta {
  flex: 0 1 100%;
}

.article-recommend-date {
  line-height: calc(29 / 16);
}

.article-recommend__name {
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: bold;
  text-decoration: underline;
}

@media screen and (min-width: 1024px) {
  .article-recommend__name {
    margin-top: 24px;
    font-size: 18px;
    line-height: calc(27 / 18);
  }
}
