.is-sp {
  display: block;
}

.is-tab {
  display: none;
}

.is-pc {
  display: none;
}

@media screen and (min-width: 768px) {
  .is-tab {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .is-sp {
    display: none;
  }

  .is-pc {
    display: block;
  }
}

.break-text {
  display: inline-block;
}

.section-title {
  line-height: calc(40 / 26);
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .section-title {
    line-height: calc(50 / 36);
    font-size: 36px;
  }
}

.section-title--white {
  color: #fff;
}
/*------------------------------------------------------
メインビジュアル
------------------------------------------------------*/
.mv {
  position: relative;
  width: 100%;
  height: 380px;
  background: url("../../../img/front/fv-sp.jpg") no-repeat center / cover;
}

@media screen and (min-width: 1024px) {
  .mv {
    height: 476px;
    background: url("../../../img/front/fv.jpg") no-repeat center / cover;
  }
}

.mv__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mv__title {
  width: 100%;
  line-height: calc(43 / 32);
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 1024px) {
  .mv__title {
    font-size: 48px;
    line-height: calc(65 / 48);
  }
}

.mv__text {
  margin: 15px 0 30px;
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .mv__text {
    margin: 25px 0 51px;
    line-height: calc(31 / 18);
    font-size: 18px;
  }
}

.request-btn--mv {
  margin: auto;
  width: 260px;
  height: 60px;
  line-height: 60px;
  border-radius: 31px;
}

.mv__link {
  display: block;
  margin-top: 22px;
  text-align: center;
  color: #fff;
  text-decoration: underline;
}

@media screen and (min-width: 1024px) {
  .mv__link {
    transition: opacity 0.5s, text-decoration 0.5s;
  }

  .mv__link:hover {
    opacity: 0.6;
    text-decoration: none;
  }
}
/*------------------------------------------------------
Engressについて
------------------------------------------------------*/
.about {
  padding: 30px 0 25px;
  background-color: #1b224c;
}

@media screen and (min-width: 1024px) {
  .about {
    padding: 63px 0 54px;
  }
}

.about__list {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .about__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 65px;
    column-gap: 57px;
    text-align: center;
  }
}

.about__item {
  position: relative;
  padding-left: 20px;
  line-height: calc(39 / 18);
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.about__item:not(:last-child) {
  margin-bottom: 10px;
}

.about__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  border-radius: 9999px;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .about__item {
    display: block;
    margin-bottom: 0;
    text-align: center;
  }

  .about__item::before {
    content: none;
  }
}

.about__description {
  margin-top: 40px;
  padding: 12px 16px;
  background-color: #fff;
}

@media screen and (min-width: 1024px) {
  .about__description {
    margin-top: 83px;
  }
}

.about__description-inner {
  padding: 16px 10px 30px;
  border: 5px solid #1b224c;
}

@media screen and (min-width: 1024px) {
  .about__description-inner {
    padding: 16px 0 30px;
  }
}

.about__description-title {
  line-height: calc(38 / 24);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .about__description-title {
    line-height: calc(50 / 36);
    font-size: 36px;
  }
}

.under-line {
  background: linear-gradient(transparent 70%, #f5a623 70%);
}

.about__description-text {
  margin-top: 25px;
  line-height: calc(31 / 18);
  font-size: 18px;
  text-align: center;
}
/*------------------------------------------------------
3つの強み
------------------------------------------------------*/
.feature {
  padding: 59px 0 39px;
}

.feature__item:first-of-type {
  margin-top: 50px;
}

.feature__item:not(:last-child) {
  margin-bottom: 60px;
}

@media screen and (min-width: 1024px) {
  .feature__item {
    display: flex;
    column-gap: 50px;
  }

  .feature__item--reverse {
    flex-direction: row-reverse;
  }
}

.feature__description {
  margin-bottom: 20px;
}

@media screen and (min-width: 1024px) {
  .feature__description {
    margin-bottom: 0;
    flex: 0 1 100%;
  }
}

.feature__label {
  display: inline-block;
  padding: 6px 25px 8px 25px;
  line-height: calc(20 / 12);
  font-size: 12px;
  color: #fff;
  background-color: #f5a623;
}

.feature__title {
  margin: 17px 0 20px;
  line-height: calc(33 / 20);
  font-size: 20px;
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .feature__title {
    margin: 25px 0 28px;
    line-height: calc(39 / 26);
    font-size: 26px;
  }
}

@media screen and (min-width: 1024px) {
  .feature__thumb {
    flex: 0 0 350px;
  }
}
/*------------------------------------------------------
料金プラン
------------------------------------------------------*/
.plan {
  position: relative;
  margin-top: 46px;
  width: 100%;
  height: 182px;
  background: url("../../../img/front/price-sp.jpg") no-repeat center / cover;
}

@media screen and (min-width: 1024px) {
  .plan {
    margin-top: 93px;
    height: 217px;
    background: url("../../../img/front/price.jpg") no-repeat center / cover;
  }
}

.plan__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plan__title {
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .plan__title {
    font-size: 26px;
  }
}

.plan__btn {
  display: block;
  margin: auto;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  border-radius: 30px;
  border: 1px solid #fff;
}

@media screen and (min-width: 1024px) {
  .plan__btn {
    transition: background 0.5s, color 0.5s;
  }

  .plan__btn:hover {
    color: #1b224c;
    background-color: #fff;
  }
}
/*------------------------------------------------------
成功事例
------------------------------------------------------*/
.example {
  padding: 58px 0 60px;
  background-color: #1b224c;
}

.example__list {
  margin-top: 100px;
}

@media screen and (min-width: 1024px) {
  .example__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 50px;
    margin-top: 137px;
  }
}

.example__item:not(:last-child) {
  margin-bottom: 60px;
}

@media screen and (min-width: 1024px) {
  .example__item {
    width: calc(33.3% - 30px * 2 / 3);
  }

  .example__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.example__head {
  margin-bottom: 7px;
  line-height: calc(29 / 16);
  font-weight: bold;
  color: #fff;
}

.example__foot {
  margin-top: 16px;
}

@media screen and (min-width: 1024px) {
  .example__foot {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 10px;
  }
}

.example__foot-item {
  padding: 8px 12px;
  line-height: 1;
  text-align: center;
  background-color: #f8f8f8;
}

.example__foot-item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 1024px) {
  .example__foot-item {
    flex-grow: 1;
    padding: 8px 0px 8px 14px;
    text-align: left;
  }

  .example__foot-item:not(:last-child) {
    margin-bottom: 0;
  }

  .example__foot-item:first-child {
    padding-left: 10px;
  }
}
/*------------------------------------------------------
ご利用の流れ
------------------------------------------------------*/
.flow {
  padding-top: 58px;
}

.flow__list {
  margin-top: 38px;
}

@media screen and (min-width: 1024px) {
  .flow__list {
    margin-top: 53px;
  }
}

.flow__item {
  display: flex;
}

.flow__item:not(:last-child) {
  margin-bottom: 8px;
}

.flow__number {
  display: flex;
  align-items: center;
  padding: 0 15px;
  font-weight: bold;
  color: #fff;
  background-color: #f5a623;
  vertical-align: middle;
}

@media screen and (min-width: 1024px) {
  .flow__number {
    padding: 0 23px;
  }
}

.flow__item-body {
  padding: 20px 15px;
  width: 100%;
  background-color: #f8f8f8;
}

@media screen and (min-width: 1024px) {
  .flow__item-body {
    display: flex;
    align-items: center;
    padding: 18px 15px 18px 21px;
  }
}

.flow__item-title {
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .flow__item-title {
    position: relative;
    flex: 0 0 214px;
    line-height: calc(40 / 18);
    font-size: 18px;
  }

  .flow__item-title::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 29px;
    background-color: #c3c3c3;
  }
}

@media screen and (min-width: 1024px) {
  .flow__item-text {
    margin-left: 53px;
    flex: 0 1 100%;
  }
}
/*------------------------------------------------------
よくある質問
------------------------------------------------------*/
.faq {
  padding-top: 75px;
}

.faq__item {
  padding: 28px 0 15px;
  border-top: 1px solid #1b224c;
}

.faq__item:first-of-type {
  margin-top: 32px;
}

.faq__item:last-child {
  border-bottom: 1px solid #1b224c;
}

.faq__title {
  position: relative;
  margin-bottom: 15px;
  cursor: pointer;
}

.faq__title::before,
.faq__title::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #1b224c;
  transition: opacity 0.5s, transform 0.5s;
}

.faq__title::before {
  right: 10px;
  width: 25px;
  height: 3px;
}

@media screen and (min-width: 1024px) {
  .faq__title::before {
    right: 20px;
  }
}

.faq__title::after {
  right: 21px;
  width: 3px;
  height: 25px;
}

@media screen and (min-width: 1024px) {
  .faq__title::after {
    right: 31px;
  }
}

.faq__title.is-open::before {
  opacity: 0;
}

.faq__title.is-open::after {
  transform: translateY(-50%) rotate(-90deg);
}

.faq__item-inner {
  overflow: hidden;
  height: 0;
  background-color: #f8f8f8;
  transition: height 0.5s;
}

.faq__text {
  padding: 16px 18px;
}

@media screen and (min-width: 1024px) {
  .faq__text {
    padding: 24px 26px;
  }
}
/*------------------------------------------------------
お知らせ＆ブログ
------------------------------------------------------*/
.information {
  padding: 70px 0 80px;
}

@media screen and (min-width: 1024px) {
  .information {
    padding: 90px 0 119px;
  }
}

@media screen and (min-width: 1024px) {
  .information__inner {
    display: flex;
    column-gap: 67px;
  }
}

.information__title {
  line-height: 1;
  font-size: 32px;
  font-weight: bold;
}
/*------------------------------------------------------
ブログ
------------------------------------------------------*/
.information__blog-list {
  margin-top: 30px;
}

.information__blog-item {
  display: flex;
  column-gap: 20px;
}

.information__blog-item:not(:last-child) {
  margin-bottom: 31px;
}

.information__blog-left {
  position: relative;
  flex: 0 0 125px;
  height: 91px;
}

@media screen and (min-width: 1024px) {
  .information__blog-left {
    flex: 0 0 150px;
    height: 110px;
  }
}

.information__category {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1;
  padding: 4px 9px 7px;
  font-size: 12px;
  color: #fff;
  border: 1px solid #707070;
  background-color: #1b224c;
}

.information__blog-img {
  height: 100%;
  object-fit: cover;
}

.information__blog-right {
  position: relative;
  flex: 0 1 100%;
}

.information__blog-link {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: bold;
  text-decoration: underline;
}

.information__blog-date {
  display: block;
  position: absolute;
  bottom: 0;
  font-size: 12px;
  line-height: 1;
}
/*------------------------------------------------------
お知らせ
------------------------------------------------------*/
.information__news {
  margin-top: 60px;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .information__news {
    margin-top: 0;
  }
}

.information__news-list {
  margin-top: 30px;
}

.information__news-item:not(:last-child) {
  margin-bottom: 40px;
}

@media screen and (min-width: 1024px) {
  .information__news-item:not(:last-child) {
    margin-bottom: 60px;
  }
}

.information__news-date {
  display: block;
  line-height: 1;
  font-size: 12px;
}

.information__news-link {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 14px;
  text-decoration: underline;
}
