.course-inner {
  margin: 30px auto 40px;
}

@media screen and (min-width: 1024px) {
  .course-inner {
    margin: 58px auto 61px;
  }
}

.price-system {
  padding-bottom: 60px;
}

@media screen and (min-width: 1024px) {
  .price-system {
    padding-bottom: 90px;
  }
}

.price-system__body {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: 30px 0 15px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .price-system__body {
    flex-direction: row;
    align-items: center;
    row-gap: 0;
    column-gap: 35px;
    margin: 60px auto 45px;
    max-width: 650px;
  }
}

.price-system__item {
  margin: auto;
  padding: 17px 25px;
  max-width: 280px;
  width: 100%;
  line-height: 1;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #1b224c;
}

@media screen and (min-width: 1024px) {
  .price-system__item {
    padding: 34px 50px;
    font-size: 22px;
  }
}

.price-system__img {
  margin: auto;
  width: 20px;
}

@media screen and (min-width: 1024px) {
  .price-system__img {
    width: 30px;
  }
}

.price-system__icon {
  display: block;
}

.price-table__list {
  display: flex;
  align-items: flex-end;
  column-gap: 7px;
  margin-top: 40px;
  overflow-x: auto;
}

@media screen and (min-width: 1024px) {
  .price-table__list {
    margin-top: 70px;
  }
}

.price-table__item {
  flex: 0 0 220px;
}

@media screen and (min-width: 1024px) {
  .price-table__item {
    width: calc(25% - 7px * 3 / 4);
    flex: 1;
  }
}

.price-table__head {
  padding: 21px 20px;
  line-height: 1;
  text-align: center;
  color: #fff;
  font-weight: bold;
  background-color: #1b224c;
}

.price-table__head--recommend {
  background-color: #f5a623;
}

.price-table__head-text {
  display: block;
}

.price-table__head-text:first-child {
  margin-bottom: 19px;
}

.price-table__body {
  padding: 30px 24px 0 24px;
  min-height: 414px;
  border: 0.5px solid #1b224c;
  border-top: none;
  box-sizing: content-box;
}

@media screen and (min-width: 1024px) {
  .price-table__body {
    padding: 30px 20px 0 20px;
  }
}

.price-table__monthly {
  text-align: center;
}

.price-table__money {
  line-height: 1;
  font-size: 25px;
  font-weight: bold;
}

.price-table__money--yellow {
  color: #f5a623;
}

.price-table__text {
  display: inline-block;
  margin-top: 10px;
}

.price-table__text--consult {
  margin-top: 45px;
}

.price-table__feature {
  margin-top: 45px;
}

.price-table__feature-item {
  position: relative;
  text-align: center;
}

.price-table__feature-item:not(:first-child) {
  margin-top: 20px;
}

.price-table__feature-item::before {
  content: "";
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 10px;
  background: url("../../../img/course/check-icon.png") no-repeat center /
    contain;
}
